    

    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 myCols">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/detail">Detail</a></li>
                        <li><a href="/propane">Propane</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="/gallery">Gallery</a></li>
                        <li><a href="/contact">Contact us</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Hours</h5>
                    <ul>
                        <li></li>
                        <li>Mon-Sat: 8:00 am - 6:00 pm</li>
                        <li></li>
                        <li>Sun: 8:00 am - 5:00 pm </li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Address</h5>
                    <ul>
                        <li>139 New York Ave </li>
                        <li>Huntington</li>
                        <li>NY 11743</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="social-networks">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="facebook"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google"><i class="fa fa-youtube-square"></i></a>
           
        </div>
        <div class="footer-copyright">
            <p>© 2019 Copyright villagetouchfreecarwash</p>
        </div>
    </footer>
    
    
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="tilt.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="animation.js"></script>
    <!--<script type="text/javascript" src="divAnimation.js"></script>-->
    <script type="text/javascript" src="slider.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </body>
</html>