.theNav{
  height:200px;
}

#middle-nav-screen a{
  color:#FFFFFF;
  display:block;
  
}

/*#1sthalf{*/
/*  width:50%;*/
/*}*/

.overlay{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  right:0;
  top:0;
  background-color: #1c1d1d; /* nero con opacity */
  transition:0.5s;
  overflow-x:hidden; /*per disabilitare lo scroll orizzontale */
}

/*posiziona il contenuto all'interno dell'overlay */
.overlay-content{
  position:relative;
  width:100%;
  text-align:center;
  margin-top:; /* per evitare conflitti con la x su schermi piccoli*/
  display:inline;
}

/*link */
.overlay a{
 
  text-decoration:none;
  font-size:36px;
  color: #818181;
  display:block;
  transition:0.3s; /*per l'hover */
  
}
/*.overlay li:hover, .overlay a:focus{*/
/*  color: #f1f1f1;*/
/*}*/

/*posizionare il bottone di chiusura (x) */
.closebtn{
  position:absolute;
  top:25px;
  right:45px;
  font-size:65px !important;
}

@media screen and (max-height:450px){
    .closebtn {
        font-size: 40px !important;
        top: 15px;
        right: 35px;
    }
}

/*stile bottoni */


/*=======================*/

.hamburger{
  background:none;
  position: relative;
  margin-bottom:15px;
  color: #FFBC17;
  border:0;
  font-size:2.6em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;

}

button:focus {
    outline: 0px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}



#mainNavBar{
  height: 1000px;
  overflow: hidden;
}



.navShow{
  width:25%;
}

@media only screen and (max-width:500px) {
    .navShow{
    width:100%;
    }
}

.navHide{
  width:0%;
}

.navBar-middle{
  width:100%;
}

@media only screen and (max-width:500px) {
    .navBar-middle{
    width:30%;
  }
}

/*===================*/

.div-next-to-li-nav img{
  max-width:650px;
}

#middle-nav-screen{
  max-height:650px;
}

/*====================*/


/* Highlight text out  */


#navbar-links a:before,#navbar-links a:before
{
    position: absolute;
    color: #FFF;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
} 

navbar-links .highlightTextOut a:hover:before, div.highlightTextIn a:hover:before
{
    transform: scale(1);
    opacity: 1;
}

/* Highlight text in  */
navbar-links .highlightTextIn a
{
    color: rgba(0, 0, 0, 0.4); 
}

navbar-links .highlightTextIn a:before
{
    transform: scale(1.2);
} 


.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:red;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:	#D3D3D3;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}
.ham2 .top {
  stroke-dasharray: 40 121;
}
.ham2 .bottom {
  stroke-dasharray: 40 121;
}
.ham2.active .top {
  stroke-dashoffset: -102px;
}
.ham2.active .bottom {
  stroke-dashoffset: -102px;
}
.ham3 .top {
  stroke-dasharray: 40 130;
}
.ham3 .middle {
  stroke-dasharray: 40 140;
}
.ham3 .bottom {
  stroke-dasharray: 40 205;
}
.ham3.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}
.ham3.active .middle {
  stroke-dashoffset: -102px;
}
.ham3.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}
.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}
.ham5 .top {
  stroke-dasharray: 40 82;
}
.ham5 .bottom {
  stroke-dasharray: 40 82;
}
.ham5.active .top {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham5.active .bottom {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham6 .top {
  stroke-dasharray: 40 172;
}
.ham6 .middle {
  stroke-dasharray: 40 111;
}
.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.ham6.active .top {
  stroke-dashoffset: -132px;
}
.ham6.active .middle {
  stroke-dashoffset: -71px;
}
.ham6.active .bottom {
  stroke-dashoffset: -132px;
}
.ham7 .top {
  stroke-dasharray: 40 82;
}
.ham7 .middle {
  stroke-dasharray: 40 111;
}
.ham7 .bottom {
  stroke-dasharray: 40 161;
}
.ham7.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.ham7.active .middle {
  stroke-dashoffset: 23px;
}
.ham7.active .bottom {
  stroke-dashoffset: -83px;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  //stroke-dashoffset: -20px;
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}


#nav.a:hover {
text-decoration: none !important;
}


#nav a:hover, a:focus {
  
    color: #005580;
    text-decoration: none !important;
}