<% include partials/header2 %>

<section class="gallery2 contact-us-div">
      <div class="column-xs-12 column-md-4 grid">
       <div id="container">
            <div id="">
              <figure class="img-container">
                <img src="contact111.jpg" /><div class="center-text title-forcover"><p class="title-forcover">CONTACT US</p></div>
                
              </figure>
              <div class="carousel-caption align-items-center">
                <p class="h3-responsive animate zoomInDown">Dedicated to serve our customers.<p>
               
              </div>
            </div>
        </div>
      </div>

</section>

<div class="row justify-content-center contact-icons">
  
  
<div class="col-xs-3 contact-div justify-text-center mx-auto text-center animates-slow fadeIn">
    <div class="wrapper-contact1 text-center">
      <i class="fa fa-5x fa-phone"></i>
      <h5 class="text-uppercase follow">(631) 549-9274 </h5> 
    </div>
  </div>
  
  <div class="col-xs-3 contact-div justify-text-center mx-auto text-center animates-slow fadeIn">
    <div class="wrapper-contact2 text-center">
      <i class="fa fa-5x fa-map-pin"></i>
    </div>
    <h5 class="text-uppercase follow">139 New York Ave </h5>  
    <h5 class="text-uppercase follow">Huntington, NY 11743 </h5>  
  </div>
  
  <div class="col-xs-3 contact-div justify-text-center mx-auto text-center animates-slow fadeIn">
    <div class="wrapper-contact3 text-center">
      <i class="fa fa-5x fa-envelope"></i>
      <h5 class="text-uppercase follow follow-email">villagetouchfreecarwash@gmail.com</h5>  
    </div>
  </div>
  
  <div class="col-xs-3 contact-div justify-text-center mx-auto text-center animates-slow fadeIn">
    <div class="wrapper-contact4">
      <i class="fa fa-5x fa-clock"></i>
      <h5 class="text-uppercase follow">Mon-Sat: 	8:00 am - 6:00 pm </h5>
      <h5 class="text-uppercase follow">Sun: 	    8:00 am - 5:00 pm </h5>
    </div>
    
  </div>
  
</div>


<section>
<div class="bg-contact100" style="background-image: url('images/bg-01.jpg');">
		<div class="container-contact100">
			<div class="wrap-contact100">
				

				<form class="contact100-form validate-form">
					<span class="contact100-form-title">
						Get in touch
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Name is required">
						<input class="input100" type="text" name="name" placeholder="Name">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Message is required">
						<textarea class="input100" name="message" placeholder="Message"></textarea>
						<span class="focus-input100"></span>
					</div>

					<div class="container-contact100-form-btn">
						<button class="contact100-form-btn">
							Send
						</button>
					</div>
				</form>
			
				<div id="map-container-google-1" class="z-depth-1-half map-container " >
          <iframe class="google-map" src="https://maps.google.com/maps?q=139%20New%20York%20Ave%20%23%20B%2C%20Huntington%2C%20NY%2011743=&output=embed" frameborder="0"
            style="border:0" allowfullscreen></iframe>
        </div>
			</div>
			</div>
		</div>
	</div>
</section>










<% include partials/footer %>