<% include partials/header2 %>

<!--Carousel Wrapper-->
<div id="carousel-example-2" class="header slide carousel-fade" data-ride="carousel" data-interval="13800">
  <div class="carousel-inner active" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <!--<img class="d-block w-100" src="carr.jpg" alt="First slide">-->
      </div>
         <div class="sp-container">
	        <div class="sp-content">
          		<h2 class="frame-1"><span>Long Island's</span></h2>
          		<h2 class="frame-2"><span>Number One</span></h2>
          		<h2 class="frame-3"><span>Car Wash</span></h2>
          		<h2 class="frame-5">
        			<span>Village</span>
        			<span>Touch-Free</span>
        			<span></span>
        			<span>Carwash</span>
         </div>
        </div>
      <div id="carousel-caption1" class="carousel-caption">
        <h4></h4>
        <h4 class="phone-menu">1-631-549-9274 </h4>
        <h4>139 New York Ave
        Huntington, NY 11743 </h4>
      </div>
    </div>

  
  </div>

</div>




<!--/.Carousel Wrapper-->

<div class="main container-fuild px0">
<div id="Home-overview" class="section section-home-overview">
  <div class="container pt-5 home-mainpage">
    <div class="row">
      <div class="col-md-12 mx-auto text-left">
        <h6 class="category visibility-hidden">Exclusive Car Detailing</h6>
        <h2 class="title text-uppercase visibility-hidden">Village Touch Free Car Wash</h2>
        <hr>
        <h5 class="description visibility-hidden">

        </h5>
      </div>
    </div>
    
    <div class="row my-5 pb-md-100 pb-lg-200 justify-content-center hideDiv1" id="div1">
      <div class="col-md-7 mx-auto text-center pr-md-0">
        <div id="cc" class="card card-raised h-100 fill">
            <img src="car2.jpg" alt="" class="img-fluid img2">
        </div>
      </div>
      
      
      <div class="col-md-5 mx-auto text-left px-md-0">
      	<div class="">
      	  <div class="reveal-item">
        	  <div class="reveal-item-inner">
        		  <p class="jumbo-numberindicator1 mx-auto mt-5 ml-md-5">Interior</p>
        	  </div>
          </div>
        </div>
        
          <div class="card card-no-shadow box-lg-shift-right-bottom p-4 p-md-5 textBox" id="div1Text">
     
          		<h4 class="title visibility-hidden" >Always expect fast and efficient service.</h4>
          	
          			<p class="home-text-div descriptionP text-justify scrollrevealdescriptionoverviewcontent-1 visibility-hidden">
          			  <hr>
          			  <p class="home-text-div">
          			Our complete interior auto detailing services include that all of the
          			dash, center console, door-panels, headliner, windows and
          			compartments and vents are obsessively cleaned.
          			</p>
          			</p>
          </div>
        </div>  
          
    </div>

    <div class="row my-5 midInfo hideDiv2" id="div2">
      <div class="col-md-5 mx-auto text-left px-md-0">
        <div class="scrollrevealcardoverviewtitle-2">
          <div class="reveal-item">
            <div class="reveal-item-inner">
    	        <p class="jumbo-numberindicator1 mx-auto mt-5 mr-md-5">Exterior</p>
            </div>
          </div>
        </div>
          <div class="card card-no-shadow box-lg-shift-left-bottom p-4 p-md-5" id="div2Text">
          
          		<h4 class="title scrollrevealtitleoverviewcontent-2 visibility-hidden">Our reputation is as solid as concrete</h4>
          	  
          	    <p class=" descriptionP text-justify scrollrevealdescriptionoverviewcontent-2 visibility-hidden" >
          			<hr>
          			
          			<p class="home-text-div">
          			  	Is a full-service car wash facility. We offer 
        			  interior and exterior cleaning for your
        			  vehicle. We use touch-free, high-pressure 
        			  soap and water to keep your paint job like
        			  new.
          			</p>
          		
          			</p>
          	  
          		
          	
          </div>
      </div>
        <div class="col-md-7 mx-auto text-center pl-md-0 scrollrevealcardoverviewimage-2">
          <div id="bb" class="card card-raised h-100 fill">
            <img src="car1.jpg" alt="" class="img-fluid img2">
          </div>
        </div>
    </div>

  <div class="row my-5 pb-lg-150 midInfo hideDiv3" id="div3">
      <div  class="col-md-7 mx-auto text-center pr-md-0">
        <div id="aa" class="card card-raised h-100 fill">
          <img src="car3.jpg" alt="" class="img-fluid img2">
        </div>
      </div>
      <div class="col-md-5 mx-auto text-left px-md-0">
        <div class="">
          <div class="reveal-item">
            <div class="reveal-item-inner">
            	<p class="jumbo-numberindicator1 mx-auto mt-5 ml-md-5">About</p>
            </div>
          </div>
        </div>
        <div class="card card-no-shadow box-lg-shift-right-bottom p-4 p-md-5" id="div3Text">
        	
        		<h3 class="title visibility-hidden">Village Touch Free Car Wash</h3>
        		
        			<p class="descriptionP text-justify visibility-hidden" >
        			  <hr>
        			  <p class="home-text-div">
        			  Our friendly staff is eager to get your car 
          			Sparkling clean!<br>
          			We offer basic to platinum 
          			Car washes that offers vacuuming and
          			cleaning of mats.
          			</p>
        			</p>
        			
        </div>
      </div>
  </div>

</div>


</div>


<section class="botSection-info">
      
<div id="sectionBot" class="col-md-12 mx-auto text-left ">
  <div>
    <div class="content-center text-center py-5">
      <div class="container py-5 scrollrevealprojecttext">
        <div class="reveal-item">
          <div class="reveal-item-inner">
            <div>
              <h1 class="title text-uppercase text-white">All about Detailing.</h1>
            </div>
              <p class="subtitle text-white">All our professional detailers are screened. <br> Call today to schedule your next detail. </p>
            <div class="row">
              <div class="col-12 col-md-12 mx-auto">
                <hr class="hr-white">
                <a href="/detail"><button type="button" class="btn btn-danger sectionButton-Bottom">MORE</button></a>
              </div>
            </div>
              
          </div>
        </div>
      </div>
    </div>
  
</section>

<section class="price-section">
    <div class="justify-text-center">
      <div class>
        <p class="packages text-center">Our Packages</p>
      </div>
      <div class="row">
        <div class="col-8 col-md-8 mx-auto">
          <hr class="hr">
        </div>
    </div>
</section>



<div class="row align-items-center content threeInfo justify-content-center active" id="store-pricing">
    
    <div id="price1" class="col-xs-3 price fullW" >
      <div>
        <div class="classes">
          <p>Full</p>
          <hr class="hr-white">
        </div>
        <div class="cost">
          <div>
            <p class="amount">$17<span class="spanPrice">.99</span></p>
          </div>
          <div id="plat">
            <h2>Exterior Wash</h2>
            <h2>Vacuum</h2>
          </div>
        </div>
      </div>
    </div>
    
    <div id="price2" class="col-xs-3 price silver">
      <div>
        <div class="classes">
          <p>Silver</p>
          <hr class="hr-white">
        </div>
          <div class="cost">
            <div>
              <p class="amount">$23<span class="spanPrice">.99</span></p>
            </div>
            <div>
              <img class="responsive tire" src="rainbowcoat.png" alt="">
            </div>
            <div>
              <img class="responsive tire" src="tiregloss.png" alt="">
            </div>
            <h2>Sealer Wax</h2>
            <h2>Under Carriage Wash</h2>
            
          </div>
      </div>
    </div>
    
    <div id="price3" class="col-xs-3 price gold" data-tilt>
      <div>
        <div class="classes">
          <p>Gold</p>
          <hr class="hr-white">
        </div>
          <div class="cost">
            <div>
              <p class="amount">$27<span class="spanPrice">.99</span></p>
            </div>
            <div>
              <img class="responsive tire" src="rainbowcoat.png" alt="">
            </div>
            <div>
              <img class="responsive tire" src="tiregloss.png" alt="">
            </div>
            <h2>Sealer Wax</h2>
            <h2>Wheel Brite</h2>
            <h2>Windshield Treatment</h2>
            <h2>Under Carriage Wash</h2>
          </div>
      </div>
    </div>
    
    <div id="price4" class="col-xs-3 price plat your-element">
      <div>
        <div class="classes">
          <p>Platinum</p>
          <hr class="hr-white">
        </div>
          <div class="cost">
            <div>
              <p class="amount">$30<span class="spanPrice">.99</span></p>
            </div>
            <div>
              <img class="responsive tire" src="rainbowcoat.png" alt="">
            </div>
            <div>
              <img class="responsive tire" src="tiregloss.png" alt="">
            </div>
            <div>
              <img class="responsive tire" src="hotwax.png" alt="">
            </div>
            <div id="plat">
              <h2>Triple Foam Polish</h2>
              <h2>Sealer Wax</h2>
              <h2>Wheel Brite</h2>
              <h2>Under Carriage Wash</h2>
              <h2>Windshield Treatment</h2>
            </div>
          </div>
      </div>
    </div>
</div>

<div class="col-md-12 w3-container w3-center justify-content-center detail-services-middle upCharge">
  <div class="row justify-content-center">
    <div class="col-10 col-lg-8">
      <p class="detail-package-title">$2.00 upcharge for SUV's</h1>
    </div>
  </div>
</div>



<% include partials/footer %>