<% include partials/header2 %>


<section class="gallery2 gallery-us-div">
      <div class="column-xs-12 column-md-4 grid">
        <div id="container">
          
          <!--inner in id to make it move-->
            <div id="">
              <figure class="img-container">
                <img src="fire.jpg" /><div class="center-text title-forcover"><p class="">WE SELL PROPANE</p></div>
                <!--https://source.unsplash.com/5VXH4RG88gc-->
              </figure>
              <div class="carousel-caption align-items-center bottom-title">
                <h1 class="text-responsive h3-responsive animate zoomInDown">Energy That Shows.</h1>
                <p class="text-responsive-smaller lightSpeedIn animate1">A Good Alternative To A Dirty Past.</p>
              </div>
            </div>
        </div>
      </div>

</section>




<section class="container-fluid px-0">
    <div class="row align-items-center content " id="propaneDiv1">
      <div class="col-md-6 order-2 order-md-1 ">
        <img src="propane1.jpg.jpg" alt="" class="img-fluid img1 propaneDiv">
      </div>
      
      <div class="col-md-6 text-center order-1 order-md-2 w3-container w3-center justify-content-center">
        <div class="row justify-content-center">
          <div class="col-10 col-lg-8 blurb section" >
             <h2 style="font-weight: bolder;">WE SELL PROPANE TANKS</h2>
            <p><i class="fas fa-4x fa-burn" style="color:red;"></i></p>
            <p class="lead">We sell NEW 20 lb Propane Tanks.
            Great Prices and Service. Drive In during Business Hours, No Appointment Needed
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>




<section class="container-fluid px-0 " id="propaneDiv2">
    <div class="row align-items-center content section">
      <div class="col-md-6 text-center order-2 order-md-1 w3-container w3-center justify-content-center">
        <div class="row justify-content-center">
          <div class="col-10 col-lg-8 blurb ">
            <h2 style="font-weight: bolder;">REFILL YOUR PROPANE TANKS</h2>
            <p><i class="fas fa-4x fa-burn" style="color:red;"></i></p>
            <p class="lead">Refill 7 BBQ Tanks and Get the 8th Free! We can even Refill your RV Propane! 
            </p>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 text-center order-2 order-md-1 w3-container w3-center justify-content-center">
        <div class="row justify-content-center">
          <div class="col-10 col-lg-8 blurb ">
            <img src="logoPropane2.jpg" alt="" class="img-fluid img2">
        </div>
      </div>
    </div>

    </div>
</section>


 



<% include partials/footer2%>